@import 'tailwindcss';

@theme inline {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9% 0 0);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9% 0 0);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9% 0 0);
  --color-primary: oklch(15% 0 0);
  --color-primary-foreground: oklch(98% 0 0);
  --color-secondary: oklch(96.1% 0 0);
  --color-secondary-foreground: oklch(15% 0 0);
  --color-muted: oklch(96.1% 0 0);
  --color-muted-foreground: oklch(45.1% 0 0);
  --color-accent: oklch(96.1% 0 0);
  --color-accent-foreground: oklch(15% 0 0);
  --color-destructive: oklch(60.2% 0.18 29.23);
  --color-destructive-foreground: oklch(98% 0 0);
  --color-border: oklch(89.8% 0 0);
  --color-input: oklch(89.8% 0 0);
  --color-ring: oklch(9% 0 0);
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  @theme inline {
    --color-background: oklch(9% 0 0);
    --color-foreground: oklch(98% 0 0);
    --color-card: oklch(9% 0 0);
    --color-card-foreground: oklch(98% 0 0);
    --color-popover: oklch(9% 0 0);
    --color-popover-foreground: oklch(98% 0 0);
    --color-primary: oklch(98% 0 0);
    --color-primary-foreground: oklch(15% 0 0);
    --color-secondary: oklch(14.9% 0 0);
    --color-secondary-foreground: oklch(98% 0 0);
    --color-muted: oklch(14.9% 0 0);
    --color-muted-foreground: oklch(63.9% 0 0);
    --color-accent: oklch(14.9% 0 0);
    --color-accent-foreground: oklch(98% 0 0);
    --color-destructive: oklch(30.6% 0.11 29.23);
    --color-destructive-foreground: oklch(98% 0 0);
    --color-border: oklch(14.9% 0 0);
    --color-input: oklch(14.9% 0 0);
    --color-ring: oklch(83.1% 0 0);
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}
